<html>
<body class="m-5">
    <h1 class="font-semibold text-xl">Web Socket</h1>
    <textarea class="w-full h-96 p-4 rounded-md border" placeholder="Enter WS Message"></textarea>
    <button type="button" class="rounded-full bg-red-500 text-white size-full p-3" hx-post="/message" hx-target="#response" hx-swap="none">Submit</button>
    <h1 class="font-semibold text-xl">Response</h1>
    <div class="border" id="response"></div>
</body>
</html>